body, header
{
  font-family: "Courier New";
  font-size: large;
  background-color: rgb(11, 19, 0);
  color:rgb(162, 250, 154);
  text-align: left;
}

h2, h3, h4, h5, h6
{
  text-align: center;
}

p  
{
  width: 80%;
  margin: 20px auto 20px auto;
  padding: 10px 30px;
  border: 15px solid rgba(162, 250, 154, 0.993);
  border-radius: 25px;
  text-align: left;
  background: rgb(11, 19, 0);
  color:rgb(162, 250, 154);
}
.likescreen
{ 
  background-image: 
  radial-gradient(
  circle /*at top right*/,
  #2a3f0b,
  #0B1300
  );
}
.history
{
  width: 70%;
  margin: 20px auto 20px auto;
  padding: 10px 30px;
  border: 15px solid rgb(90, 139, 85);
  border-radius: 25px;
  text-align: left;
  background: rgb(11, 19, 0);
  color:rgb(162, 250, 154);
  font-size: 0.8em;  
}
legend 
{
  background-color: rgb(11, 19, 0);
  color:rgb(162, 250, 154);
  text-align: left;
}
  input[type=text], textarea
  {
    background-color: rgb(162, 250, 154);
    color:rgb(11, 19, 0);
    font-size: 1.3em;
    width: 100%;
    padding: 6px 10px;
    margin: 4px 0;
    border: 2px solid rgba(162, 250, 154, 0.993);
    border-radius: 15px;
  }
  textarea
  {
    height: 400px;
  }
  input[type=submit], input[type=button], input[type=reset]
  {
    background-color: rgb(11, 19, 0);
    color:rgb(162, 250, 154);
    width: 10%;
    padding: 5px 5px;
    margin: 4px 0;
    border: 2px solid rgba(162, 250, 154, 0.993);
    border-radius: 15px;
  }
  ::placeholder
  {
    color: rgb(11, 19, 0);
    
  }

  .special-button
  {
    background-color: rgb(41, 68, 2);
    color:rgb(162, 250, 154);
    display: block;
    padding: 8px;
  }
  ul
  {
    list-style-type: none;
    margin: 5px;
    overflow: hidden;
    background-color: rgb(11, 19, 0);
    color:rgb(162, 250, 154);
  }
  li
  {
    float: left;
    border-right: 1px solid #4CAF50;
    border-left: 1px solid #4CAF50;
  }
  li a
  {
    display: block;
    text-align: center;
    font-weight: 100;
    text-decoration: none;
    padding: 14px 16px;
    width: 150px;
    font-size: 1.3em;
  }  
  a:hover
  {
    font-weight: 100;
    text-decoration: none;
    color: rgb(182, 253, 180);
    background-color: rgb(11, 19, 0);
    font-size: 1.5em;
  }
  a:visited
  {
    color: rgb(20, 29, 20);
  }
  .active
  {
    font-style: bold;
    font-size: 30px;
    background-color: #4CAF50;
    color: rgba(162, 250, 154, 0.993);
  }
  
  .blinking-cursor {
    animation-name: blink;
    font-weight: 100;
    font-size: 30px;
    color: #2E3D48;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
    
  @keyframes blink {
    0% {
      color: transparent;
    }
    50% {
      color: rgb(162, 250, 154);
    }
  }