        body{background-color: rgb(36, 37, 34);
            color:rgb(162, 250, 154);
            text-align: left;}
        h2 {text-align: center;}
        h3 {text-align: center;}
        h6 {text-align: center;}
        p  {font-family: "courier new";
            width: 80%;
            margin: 30px;
            padding: 15px;
            border: 15px solid rgba(162, 250, 154, 0.993);
            border-radius: 25px;
            text-align: left;
            background: rgb(11, 19, 0);
            color:rgb(162, 250, 154);}
